@import "./styles/general.css";
@import "./styles/profile.css";
@import "./styles/predictions.css";
@import "./styles/leaderboard.css";
@import "./styles/admin.css";
@import "./styles/adminLayout.css";
